/* *{
    outline: 1px solid red;
}
 */
.left-nav-item-cont{
    padding: 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cont{
    border: 1px solid white;
}

.left-nav-item{
    color: white;
    font-size: 15px;
    font-weight: 500;
}

@media (max-width : 1100px) {
    .main-navbar-cont{
        padding: 0px 20px;
    }
}

@media (max-width : 950px) {
    .left-nav-item-cont{
        display: none;
    }
    .user-profile-cont{
        display: none;
    }
    .cart-cont{
        display: none;
    }
    
    .right-nav-cont{
        flex-grow: 1;
    }

    .main-input-cont{
        margin-right: 0px;
    }
    .main-navbar-cont{
        padding: 0px 10px;
    }

}